.h5p-three-image {
}
.nav-button {
  background: rgba(0,0,0,1);
  color: greenyellow;
  padding: 0.5em;
  font-size: 3em;
  cursor: pointer;
}

.image-button {
  background: rgba(0,0,0,1);
  color: dodgerblue;
  padding: 0.5em;
  font-size: 3em;
  cursor: pointer;
}

.h5p-image-popup {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.h5p-close-button {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  color: white;
  padding: 0.5em;
  cursor: pointer;
}